<ul class="nav nav-tabs justify-content-between mb-2">
    <ul class="nav">
        <li class="nav-item" routerLink="/messages">
            <a class="nav-link" [routerLinkActive]="['active']">Messages</a>
        </li>
        <li class="nav-item" routerLink="/contacts">
            <a class="nav-link" [routerLinkActive]="['active']">Contacts</a>
        </li>
        <li class="nav-item" routerLink="/preferences">
            <a class="nav-link" [routerLinkActive]="['active']">Preferences</a>
        </li>
    </ul>
    <ul class="nav">
        <li class="nav-item ">
            <select class="form-select" (change)="selectChangeHandler($event)">
        <ng-container *ngFor="let user of users" >
          <option value={{user}}><a  routerLink="/messages">{{user}}</a></option>
        </ng-container>
      </select>
        </li>
        <li class="nav-item">
            <a class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">New Message</a>
        </li>
    </ul>
</ul>
